@import url("../../global/css/variables.css");

#video-abouUs {
    font-family: var(--font-body);
}

.main-container {
    background-color: var(--colorMainSection);
}

.container {
    padding: 0 15%;
}

.card-video {
    position: relative;
    overflow: hidden;
    background-color: var(--colorMainSection);
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
}

.drop {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.drop i {
    display: block;
    cursor: pointer;
    font-size: var(--fontNormalSize);
    color: var(--colorSecondaryText);
}

.drop i:hover {
    color: var(--colorMainHover);
}

.drop-rotate{
    transform: rotate(180deg);
}

.drop-active {
    height: 230px !important;
}

.card-description {
    height: 0px;
    transition: all 0.6s ease;
}

.card-description-text h3{
    font-size: var(--fontH3Size);
    font-family: var(--font-title);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    color:var(--colorSecondarySubtitles);
    padding: 2px 10px;
    border-bottom: 1px solid rgb(48, 47, 47);

}

.card-description-text p{
    font-family: var(--font-body);
    font-size: var(--fontNormalSize);
    padding: 2px 10px;
    text-align: justify;

}
/*
iframe {
    display: block;
    max-width: 500%;
    height: auto;
}
*/