@import url("/style.css");



h2 {
    font-family: var(--font-h1);
    font-size: var(--fontH1Size);
    font-weight: var(--font-bold);
    
}

h4 {
    font-family: var(--font-h2);
    font-size: var(--fontH2Size);
    font-weight: var(--font-semi-bold);
    color: var(--colorMainSubtitle);
}

.offcanvas h4{
    text-justify: ;
}

.offcanvas{
    height: 600px;
    
}
.offcanvas button {
    
    border-radius: 30px;
    background-color: #F28638;
    align-items: center;
    margin: 1rem;
    border-style: none;
}

.progress-bar{
    background-color: #533C73;
}