@import url("/style.css");

@import url("../../global/css/variables.css");

/*Gral styles*/
body {
    font-family: var(--font-body);
    font-size: var(--fontNormalSize);
    overflow-x: hidden;
}

h1 {
    font-family: var(--font-h1);
    font-size: var(--fontBigSize);
    font-weight: var(--font-bold);
}

h2 {
    font-family: var(--font-h2);
    font-size: var(--fontH2Size);
    font-weight: var(--font-semi-bold);
    color: var(--colorMainSubtitle);
}

.space-between-sections {
    margin-bottom: 10rem; /*160px*/
}

/*Navbar styles*/
#navbar {
    position: sticky !important;
    top: 0;
    background-color: white;
    z-index: 100000;
}


#navbar {
    position: sticky !important;
    top: 0;
    background-color: white;
    z-index: 100000;
}

nav {
    font-family: var(--font-h2);
}

a {
    text-decoration: none;
}

nav a {
    color: var(--colorNav) !important;
}

nav a:hover {
    color: var(--colorNavHover) !important;
}

.buttons {
    color: white !important;
    background-color: var(--colorMainButton) !important;
    font-family: var(--font-h2);
    border-style: none !important;
}


/* left card*/

.profile-card {
    border-radius: 30px !important;
}

.card-header {
    --bs-bg-opacity: 0 !important;
}

.profile-icons:hover {
    color: var(--colorNavHover) !important;
}

.icons-size {
    font-size: var(--fontNormalSize);
}

.follow-button {
    color: white !important;
    background-color: var(--colorMainButton) !important;
    font-family: var(--font-h2);
}

.follow-button:hover {
    background-color: var(--colorNavHover) !important;
}

/* rigth card*/
.bookButton {
    color: white !important;
    background-color: var(--colorMainButton) !important;
    font-family: var(--font-h2);
}

.bookButton:hover {
    background-color: var(--colorNavHover) !important;
    border-style: none !important;
}

/*offCanvas Style*/

.offcanvas{
    height: 600px;
    font-family: var(--font-h1);
    font-size: var(--fontBigSize);
    overflow-x: hidden;
    
}


.offcanvas .btn {
    color: white !important;
    background-color: var(--colorMainButton) !important;
    font-family: var(--font-h2);
    border-style: none !important;
}

.offcanvas .btn:hover{
    background-color: var(--colorNavHover) !important;
    border-style: none !important;
    border-style: none !important;
}

/*progress bar*/
.progress-bar{
    background-color: var(--colorNavHover) !important;
}

.progress i{
    font-size: var(--fontH3Size);
    transform: rotate(220deg);
}