/*============================ TEMPLATE STYLE ===========================*/
@import url('../../global/css/variables.css');

/*--Start of aboutUs-main.css--*/
#main .carousel-inner img {
    max-height: 70vh;
    /*si le pongo más se mueve la imagen con el texto cada que cambia*/
    object-fit: cover;
    filter: grayscale(5%);
}

#main p {
    font-family: var(--fontH1Size);
    font-size: var(--font-medium);
}

#carousel {
    position: relative;
}

.valores h5 {
    font-family: var(--font-title1);
    font-size: var(--fontH1Size);
}

.valores p {
    font-family: var(--font-title1);
    font-size: var(--fontSmallerSize);
}

#main .card {
    box-shadow: 0 0 30px rgba(204, 187, 187, 0.22);
    overflow: hidden;
    border-radius: 15px;
    height: 100px;
    width: 100%;
}

#main .card img {
    height: 50px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    object-fit: cover;

}

#footer a {
    color: white;
    text-decoration: none;
}

#footer a:hover {
    color: black;
}

/*--End of aboutUs-main.css--*/